.logo_place_header {
    align-self: flex-start;
    position: absolute;
    z-index: 99999;
    background-image: url(../../../images/logo_place_header.svg);
    background-repeat: no-repeat;
    margin-top: 30px;
  }