.logo__place_header {
    align-self: flex-start;
    position: absolute;
    z-index: 99999;
    background-image: url(../../../images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30pt;
  }