@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/_place/logo__place_header.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__subtitle/header__subtitle.css);
@import url(./blocks/header/__subtitle/_link/header__subtitle_link.css);
@import url(./blocks/header/__main-illustration/header__main-illustration.css);
@import url(./blocks/header/__square-pic/header__square-pic.css);
@import url(./blocks/content/content.css);
@import url(./blocks/content/__description/content__description.css);
@import url(./blocks/content/__two_columns/content__two_columns.css);
@import url(./blocks/content/__brief/content__brief.css);
@import url(./blocks/content/__main-text/content__main-text.css);
@import url(./blocks/content/__paragraph/content__paragrath.css);
@import url(./blocks/content/__paragraph/_paragraph/content__line.css);
@import url(./blocks/content/__paragraph/_paragraph/content__span-accent.css);
@import url(./blocks/techniques/techniques.css);
@import url(./blocks/title/title.css);
@import url(./blocks/title/_theme/title__theme_dark.css);
@import url(./blocks/subtitle/subtitle.css);
@import url(./blocks/subtitle/_theme/subtitle__theme_dark.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__subtitle/cards__subtitle.css);
@import url(./blocks/oakley/oakley.css);
@import url(./blocks/digits/digits.css);
@import url(./blocks/table/table.css);
@import url(./blocks/table/__cell/table__cell.css);
@import url(./blocks/table/__cell/_theme/table__cell_theme_dark.css);
@import url(./blocks/table/__heading/table__heading.css);
@import url(./blocks/table/__text/table__text.css);
@import url(./blocks/table/_theme/table__theme_dark.css);
@import url(./blocks/kaufman/kaufman.css);
@import url(./blocks/resourses/resourses.css);
@import url(./blocks/resourses/__logo-zone/resources__logo-zone.css);
@import url(./blocks/resourses/__logo/resources__logo.css);
@import url(./blocks/resourses/__logo/_image/resources__logo_image_arzamas.css);
@import url(./blocks/resourses/__logo/_image/resources__logo_image_n1.css);
@import url(./blocks/resourses/__logo/_image/resources__logo_image_polka.css);
@import url(./blocks/resourses/__logo/_image/resources__logo_image_strelka.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/logo/_place/logo__place_footer.css);
@import url(./blocks/footer/__columns/footer__columns.css);
@import url(./blocks/footer/__column/_content/footer__column_content_heading.css);
@import url(./blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(./blocks/footer/__column/_content/footer__column_content_links.css);
@import url(./blocks/footer/__author/footer__author.css);
@import url(./blocks/footer/__author/_text/footer__author_text_name.css);
@import url(./blocks/footer/__column/_link/footer__column_link-logo.css);
@import url(./blocks/footer/__column/_link/footer__column_link_item.css);
@import url(./blocks/footer/__column/_link/footer__column_link_text.css);
div {
    border: 1px solid red;
}
section {
    border: 1px solid teal;
}
li {
    border: 1px solid blueviolet;
}

.feynman {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    min-height: 890px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feynman__illustration {
    height: 637px;
    width: 867px;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.feynman__title {
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
    width: 648px;
    text-align: center;
    padding-top: 100px;
    margin: 0;
}
.feynman__subtitle {
    z-index: 1;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}
.feynman__link {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 48px;
    color: #2f80ed;
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}
.khan {
    background-color: #f2f2f2;
}
.khan__author {
line-height: 42px;
font-size: 30px;
font-weight: normal;
margin: 0;
}

.khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.khan__quote {
    width: 790px;
    margin: 50px 0 36px 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.khan__quote-author {
    margin: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.khan__quote-author-subline {
    margin: 10px 0 68px 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
}

.khan__container {
width: 80%;
margin: 0 auto;
}
.khan__book-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.khan__book-pic {
    background-image: url(./images/khan-book.jpg);
    background-size: cover;
    width:  608px;
    height: 620px; 
}
.khan__buy-link {
    padding-left: 48px;
    text-decoration: none;
    color: #2f80ed;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
}