.header__subtitle {
    position: absolute;
    align-self: flex-end;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    width: 388px;
    padding: 0 0 30px 64px;
    margin: 0;
  }